/*@import url("https://fonts.googleapis.com/css?family=Lato:300,300italic");*/

/* ---------- vv Common vv ---------- */

body {
  font-family: "Arial";
  /* line-height: 1.5; */
  color: rgba(255, 255, 255, 0.836);
  background-color: black;
  padding-left: 10px;
  padding-top: 5px;
  /* text-align:center; */
}

::-webkit-scrollbar {
  display: none;
}

.interface{
opacity: 100%;

}

.topBar {
  position: fixed; 
  top: 0px;
  left:0px;
  min-width: 570px;
  max-width: 570px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.24);
}

.navBar{
  position: fixed; 
  top: 0px;
  right:0px;
  min-height: 100%;
  max-width: 80px;
  background: rgba(255, 255, 255, 0.24);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 38px 10px 38px 10px;
  color: gray;
  font-size: 36px;
}

.time {
  font-size: 55px;
  /* margin: 5px; */
  font-weight: bold;
  padding-left: 15px;
  max-width: 450px;
}

.date {
  font-size: 25px;
  padding-left: 20px;
  max-width: 450px;
}

.temp{
  position: fixed;
  font-size: 70px;
  /* font-weight: bold; */
  top: 5px;
  right: 250px
}

.off{
  visibility: hidden;
}


/* ---------- vv weather vv ---------- */
.uno {
  scroll-snap-align: start;
  width: 580px;
  height: 465px;
 /* border: 1px solid red ; */
}

.weatherMain{
  position: absolute;
  top: 120px;
  height: 335px;
  width: 570px;
}

.weatherImage{
height:275px;
width:275px;
padding-top: 30px;
}

.weatherCenter{
  position: absolute;
  width: 250px;
  top: 50px;
  left: 400px;
  text-align: center;
}

.hiLow{
  font-size: 45px;
  padding-bottom: 25px;
}

.sunSet{
  padding-top: 5px;
  font-size: 20px;
}

.forecastBar{
  position: fixed; 
  top: 0px;
  right:60px;
  max-width: 135px;
  height: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.24);
  text-align: center;
}

.tomorrow{
  display: inline-block;
  padding: 10px;
  font-size: 30px;
}

/* ---------- vv thermostat vv ---------- */
.dose {
  position: absolute; 
  top: 485px;
  width: 580px;
  height: 465px;
  /* border: 1px solid red ; */
}

.themroFunction{
  margin-top: 80px;
  position: relative; 
  top: 0px;
  left:40px;
  width: 200px;
  height: 375px;
}

.tempUp{
  top: 0px; 
  padding: 20px;
  width: 75px;

}

.tempDown{
  position: absolute; 
  bottom: 0px;
}

.setTemp{
  position: absolute; 
  top: 155px;
  font-size: 60px;
}

.houseTemp{
  color: rgba(255, 255, 255, 0.836);
  font-size: 200px;
  font-weight: 575;
  position: absolute;
  top: 170px;
  left: 210px;
  text-align: center;
}

.furnace{
  position: absolute;
  top: 110px;
  left: 210px;
  text-align: center;
}

.fanOn{
  left: 50px;
  position: absolute;
}

.heatOrAir{
  left: 150px;
  position: absolute;
}
