/* @import url(//fonts.googleapis.com/css?family=Lato:300,300italic); */
@font-face { font-family: Lato; src: url('Lato-Light.ttf'); } 
/* ---------- vv Common vv ---------- */

body {
  /*font-family: Arial, sans-serif;*/
  font-family: Lato;
  /* line-height: 1.5; */
  color: rgba(255, 255, 255, 0.836);
  background-color: black;
  padding-left: 10px;
  padding-top: 5px;
  /* text-align:center; */
}

/* ::-webkit-scrollbar {
  display: none;
} */

.interface{
opacity: 100%;
}

.update-time{
  font-size: 15px;
  text-align: center;
}

.topBar {
  position: fixed;
  width: 100%;
  top: 0px;
  left:0px;
  border-bottom: 4px solid rgba(255, 255, 255, 0.24);
}

.time {
  font-size: 55px;
  font-weight: bold;
}

.date {
  font-size: 40px;
  padding-left: 20px;
}

.temp{
  position: fixed;
  font-size: 100px;
  font-weight: bold;
  top: 5px;
  right: 20px;
}






.container {
  display: flex;
  flex-direction: column;
}

.container__main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.container__left {
  width: 50%;
}

.container__middle {
  /* Take the remaining width */
  flex-grow: 1;
}

.container__right {
  width: 20%;
}



.forecastBar{
  position: fixed; 
  top: 130px;
  right:20px;
  max-width: 135px;
  height: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.24);
  text-align: center;
}



.stocks{
  position: fixed; 
  top: 130px;
  right:175px;
  /* max-width: 135px; */
  height: 100%;
  border-left: 4px solid rgba(255, 255, 255, 0.24);
  text-align: center;
}

.stock{
padding: 20px;
}

.stockName{
text-decoration: underline;
font-size: 20px;
}
.stockPrice{
font-weight: bold;
font-size: 30px;
}
.bottom-bar{
  position: fixed;
  bottom: 5px;
  left: 20px;
  height: 50px;

}

.chart-container{
  position: fixed;
  margin: auto;
  bottom: 0;
  /* left: 0; */
  width: 800px;
}

.off{
  visibility: hidden;
}


/* ---------- vv weather vv ---------- */
.uno {
  scroll-snap-align: start;
  width: 580px;
  height: 465px;
 /* border: 1px solid red ; */
}

.weatherMain{
  position: absolute;
  top: 120px;
  height: 335px;
  width: 570px;
}

.weatherImage{
height:275px;
width:275px;
padding-top: 30px;
}

.weatherCenter{
  position: absolute;
  width: 250px;
  top: 50px;
  left: 400px;
  text-align: center;
}

.hiLow{
  font-size: 45px;
  padding-bottom: 25px;
}

.sunSet{
  padding-top: 5px;
  font-size: 20px;
}

.tomorrow{
  display: inline-block;
  padding: 10px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: 30px;
}

/* ---------- vv thermostat vv ---------- */
.dose {
  position: absolute; 
  top: 485px;
  width: 580px;
  height: 465px;
  /* border: 1px solid red ; */
}

.themroFunction{
  margin-top: 80px;
  position: relative; 
  top: 0px;
  left:40px;
  width: 200px;
  height: 375px;
}

.tempUp{
  top: 0px; 
  padding: 20px;
  width: 75px;

}

.tempDown{
  position: absolute; 
  bottom: 0px;
}

.setTemp{
  position: absolute; 
  top: 155px;
  font-size: 60px;
}

.houseTemp{
  color: rgba(255, 255, 255, 0.836);
  font-size: 200px;
  font-weight: 575;
  position: absolute;
  top: 170px;
  left: 210px;
  text-align: center;
}

.furnace{
  position: absolute;
  top: 110px;
  left: 210px;
  text-align: center;
}

.fanOn{
  left: 50px;
  position: absolute;
}

.heatOrAir{
  left: 150px;
  position: absolute;
}

